USE [master]
GO
/****** Object:  Database [TeacherDemo]    Script Date: 11/9/2018 12:00:01 AM ******/
CREATE DATABASE [TeacherDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeacherDemo', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TeacherDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeacherDemo_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TeacherDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeacherDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeacherDemo]
GO
/****** Object:  Table [dbo].[Course Information]    Script Date: 11/9/2018 12:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course Information](
	[Course Number] [int] NOT NULL,
	[Course Name] [nvarchar](255) NOT NULL,
	[Course Prerequisites] [nvarchar](max) NULL,
	[Instructor ID] [int] NOT NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [Course Information$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Course Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[U7_query_200_level]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U7_query_200_level]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT TOP 9223372036854775807 WITH TIES [Course Information].[Course Number], [Course Information].[Course Name]
   FROM [Course Information]
   WHERE ((([Course Information].[Course Number]) > 199 AND ([Course Information].[Course Number]) < 300))
   ORDER BY [Course Information].[Course Number]
GO
/****** Object:  Table [dbo].[Instructor Information]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor Information](
	[Instructor ID] [int] NOT NULL,
	[Instructor First Name] [nvarchar](255) NOT NULL,
	[Instructor Last Name] [nvarchar](255) NOT NULL,
	[Instructor Address] [nvarchar](max) NULL,
	[Instructor CIty] [nvarchar](255) NULL,
	[Instructor State] [nvarchar](255) NULL,
	[Instructor Zip Code] [int] NULL,
	[Instructor Pay Scale] [int] NULL,
	[Year Hired] [int] NULL,
	[Tenured] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[Employment Status] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [Instructor Information$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Instructor ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[U7_query_annual_salary]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U7_query_annual_salary]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT 
      [Instructor Information].[Instructor ID], 
      [Instructor Information].[Instructor First Name], 
      [Instructor Information].[Instructor Last Name], 
      [Instructor Information].[Instructor Pay Scale], 
      [Instructor Pay Scale] * 2080 AS [Total Annual Salary]
   FROM [Instructor Information]
GO
/****** Object:  View [dbo].[U7_query_location_Instructor]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U7_query_location_Instructor]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT TOP 9223372036854775807 WITH TIES 
      [Instructor Information].[Instructor ID], 
      [Instructor Information].[Instructor First Name], 
      [Instructor Information].[Instructor Last Name], 
      [Instructor Information].[Instructor Address], 
      [Instructor Information].[Instructor CIty], 
      [Instructor Information].[Instructor Zip Code], 
      [Instructor Information].[Instructor Pay Scale], 
      [Instructor Information].[Year Hired], 
      [Instructor Information].[Tenured], 
      [Instructor Information].[Notes], 
      [Instructor Information].[Employment Status]
   FROM 
      [Instructor Information] 
         INNER JOIN [Course Information] 
         ON [Instructor Information].[Instructor ID] = [Course Information].[Instructor ID]
   WHERE ((([Instructor Information].[Instructor CIty]) <> 'orlando'))
   ORDER BY [Instructor Information].[Instructor First Name]
GO
/****** Object:  View [dbo].[U7_query_pay]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U7_query_pay]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT TOP 9223372036854775807 WITH TIES [Instructor Information].[Instructor ID], [Instructor Information].[Instructor First Name], [Instructor Information].[Instructor Last Name], [Instructor Information].[Instructor Pay Scale]
   FROM [Instructor Information]
   WHERE ((([Instructor Information].[Instructor Pay Scale]) < 20))
   ORDER BY [Instructor Information].[Instructor Pay Scale] DESC
GO
/****** Object:  View [dbo].[U8_query_Instructor Assignments]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA warning messages:
*   A2SS0030: View 'U8_query_Instructor Assignments' has a name that might cause problems for the Access application to function correctly against SQL Server.
*/

CREATE VIEW [dbo].[U8_query_Instructor Assignments]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT TOP 9223372036854775807 WITH TIES 
      [Instructor Information].[Instructor ID], 
      [Instructor Information].[Instructor First Name], 
      [Instructor Information].[Instructor Last Name], 
      [Course Information].[Course Number], 
      [Course Information].[Course Name]
   FROM 
      [Instructor Information] 
         LEFT JOIN [Course Information] 
         ON [Instructor Information].[Instructor ID] = [Course Information].[Instructor ID]
   ORDER BY [Instructor Information].[Instructor Last Name] DESC
GO
/****** Object:  View [dbo].[U8_query_Instructor_200_level]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U8_query_Instructor_200_level]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT 
      [Instructor Information].[Instructor ID], 
      [Instructor Information].[Instructor First Name], 
      [Instructor Information].[Instructor Last Name], 
      [Instructor Information].[Instructor Pay Scale], 
      [Course Information].[Course Number], 
      [Course Information].[Course Name]
   FROM 
      [Instructor Information] 
         INNER JOIN [Course Information] 
         ON [Instructor Information].[Instructor ID] = [Course Information].[Instructor ID]
   WHERE ((([Instructor Information].[Instructor Pay Scale]) > 25) AND (([Course Information].[Course Number]) > 199 AND ([Course Information].[Course Number]) < 300))
GO
/****** Object:  View [dbo].[U8_query_Lastname_S]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U8_query_Lastname_S]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT 
      [Instructor Information].[Instructor ID], 
      [Instructor Information].[Instructor First Name], 
      [Instructor Information].[Instructor Last Name], 
      [Course Information].[Course Number], 
      [Course Information].[Course Name]
   FROM 
      [Instructor Information] 
         INNER JOIN [Course Information] 
         ON [Instructor Information].[Instructor ID] = [Course Information].[Instructor ID]
   WHERE ((([Instructor Information].[Instructor Last Name]) LIKE 'S%'))
GO
/****** Object:  View [dbo].[U8_query_pay_scale]    Script Date: 11/9/2018 12:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[U8_query_pay_scale]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 7.11.0.*/
   SELECT Max([Instructor Information].[Instructor Pay Scale]) AS [MaxOfInstructor Pay Scale], Min([Instructor Information].[Instructor Pay Scale]) AS [MinOfInstructor Pay Scale]
   FROM [Instructor Information]
GO
INSERT [dbo].[Course Information] ([Course Number], [Course Name], [Course Prerequisites], [Instructor ID]) VALUES (323, N'Introduction to Multimedia Using Adobe Flash', N'None', 691)
INSERT [dbo].[Course Information] ([Course Number], [Course Name], [Course Prerequisites], [Instructor ID]) VALUES (331, N'Technology Infrastructure', N'190', 785)
INSERT [dbo].[Course Information] ([Course Number], [Course Name], [Course Prerequisites], [Instructor ID]) VALUES (345, N'Website Development', N'117', 125)
INSERT [dbo].[Instructor Information] ([Instructor ID], [Instructor First Name], [Instructor Last Name], [Instructor Address], [Instructor CIty], [Instructor State], [Instructor Zip Code], [Instructor Pay Scale], [Year Hired], [Tenured], [Notes], [Employment Status]) VALUES (125, N'Jeannie', N'Callaway', N'110 Poplar ST', N'San Diego', N'CA', 92111, 23, 2011, 0, NULL, N'Part Time')
INSERT [dbo].[Instructor Information] ([Instructor ID], [Instructor First Name], [Instructor Last Name], [Instructor Address], [Instructor CIty], [Instructor State], [Instructor Zip Code], [Instructor Pay Scale], [Year Hired], [Tenured], [Notes], [Employment Status]) VALUES (150, N'Wendy', N'Smith', N'877 Memorial Dr', N'Oxnard', N'CA', 93007, 29, 2005, 0, NULL, N'Part Time')
INSERT [dbo].[Instructor Information] ([Instructor ID], [Instructor First Name], [Instructor Last Name], [Instructor Address], [Instructor CIty], [Instructor State], [Instructor Zip Code], [Instructor Pay Scale], [Year Hired], [Tenured], [Notes], [Employment Status]) VALUES (225, N'Bill', N'Jones', N'3478 Main Ave', N'Orlando', N'FL', 32801, 15, 2000, 1, NULL, N'Full Time')
/****** Object:  Index [Course Information$Instructor ID]    Script Date: 11/9/2018 12:00:03 AM ******/
CREATE NONCLUSTERED INDEX [Course Information$Instructor ID] ON [dbo].[Course Information]
(
	[Instructor ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Course Information$Instructor InformationCourse Information]    Script Date: 11/9/2018 12:00:03 AM ******/
CREATE NONCLUSTERED INDEX [Course Information$Instructor InformationCourse Information] ON [dbo].[Course Information]
(
	[Instructor ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course Information] ADD  DEFAULT ((0)) FOR [Course Number]
GO
ALTER TABLE [dbo].[Course Information] ADD  DEFAULT ((0)) FOR [Instructor ID]
GO
ALTER TABLE [dbo].[Instructor Information] ADD  DEFAULT ((0)) FOR [Instructor ID]
GO
ALTER TABLE [dbo].[Instructor Information] ADD  DEFAULT ((0)) FOR [Instructor Zip Code]
GO
ALTER TABLE [dbo].[Instructor Information] ADD  DEFAULT ((0)) FOR [Instructor Pay Scale]
GO
ALTER TABLE [dbo].[Instructor Information] ADD  DEFAULT ((0)) FOR [Year Hired]
GO
ALTER TABLE [dbo].[Instructor Information] ADD  DEFAULT ((0)) FOR [Tenured]
GO
ALTER TABLE [dbo].[Course Information]  WITH NOCHECK ADD  CONSTRAINT [Course Information$Instructor InformationCourse Information] FOREIGN KEY([Instructor ID])
REFERENCES [dbo].[Instructor Information] ([Instructor ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Course Information] CHECK CONSTRAINT [Course Information$Instructor InformationCourse Information]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Course Number]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'COLUMN',@level2name=N'Course Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Course Name]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'COLUMN',@level2name=N'Course Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Course Prerequisites]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'COLUMN',@level2name=N'Course Prerequisites'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Instructor ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'COLUMN',@level2name=N'Instructor ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'CONSTRAINT',@level2name=N'Course Information$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Instructor ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'INDEX',@level2name=N'Course Information$Instructor ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Instructor InformationCourse Information]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'INDEX',@level2name=N'Course Information$Instructor InformationCourse Information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Course Information].[Instructor InformationCourse Information]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Course Information', @level2type=N'CONSTRAINT',@level2name=N'Course Information$Instructor InformationCourse Information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor ID]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor First Name]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor First Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor Last Name]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor Last Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor Address]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor CIty]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor CIty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor State]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor Zip Code]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor Zip Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Instructor Pay Scale]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Instructor Pay Scale'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Year Hired]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Year Hired'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Tenured]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Tenured'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Notes]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Notes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[Employment Status]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'COLUMN',@level2name=N'Employment Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information', @level2type=N'CONSTRAINT',@level2name=N'Instructor Information$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[Instructor Information]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor Information'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U7_query_200_level]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U7_query_200_level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U7_query_annual_salary]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U7_query_annual_salary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U7_query_location_Instructor]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U7_query_location_Instructor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U7_query_pay]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U7_query_pay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U8_query_Instructor Assignments]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U8_query_Instructor Assignments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U8_query_Instructor_200_level]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U8_query_Instructor_200_level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U8_query_Lastname_S]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U8_query_Lastname_S'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'U10_AES_Morgan.[U8_query_pay_scale]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'U8_query_pay_scale'
GO
USE [master]
GO
